body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f19;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 70px;
    margin: 10px;
}

.hero h2 {
    font-size: 30px;
    font-weight: normal;
}

section {
    padding: 100px 10%;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}